.services {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #111213;
  min-height: 100vh;
  padding: 100px 0;
}

.services h2 {
  font-size: 70px;
  font-weight: 700;
  color: #ffffff;
}

.services_content {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin-top: 80px;
}

.services_content h5 {
  color: #ffffff;
  font-size: 35px;
  font-weight: 700;
}

.services_content_item {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px 25px 20px 40px;
  width: 554px;
  height: auto;
  border-radius: 10px;
  background-color: rgb(21, 75, 101, 0.15);
  box-shadow: 0px 30px 80px 0px rgb(219 236 245 / 20%)
}

.services_content_item p {
  color: #dbdbdb;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.55;
  font-weight: 400;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

.services_content_items {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px 25px 20px 40px;
  width: 554px;
  height: auto;
  border-radius: 10px;
  background-color: rgb(21, 75, 101, 0.15);
  box-shadow: 0px 30px 80px 0px rgb(219 236 245 / 20%)
}

.services_content_items p {
  color: #dbdbdb;
  font-size: 18px;
  font-family: 'Roboto', Arial, sans-serif;
  line-height: 1.55;
  font-weight: 400;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

.services_mobile_app_block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services_explaining_textt,
.services_explaining_text {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
}

.services_explaining_textt p {
  width: 1039px;
  text-align: center;
  color: #ffffff;
  font-size: 24px;
  font-family: 'Roboto', Arial, sans-serif;
  line-height: 1.55;
  font-weight: 600;
}

.services_explaining_text p {
  width: 963px;
  text-align: center;
  color: #ffffff;
  font-size: 24px;
  font-family: 'Roboto', Arial, sans-serif;
  line-height: 1.55;
  font-weight: 600;
}


.services_explaining_textt span,
.services_explaining_text span {
  color: #21746b;
}

.services_explaining_items {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 70%;
  margin-top: 150px;
}

.cloud_up {
  position: absolute;
  width: 62px;
  height: 62px;
  top: -95px;
  right: 250px;
}

.phone {
  position: absolute;
  right: 60px;
  top: -80px;
  width: 430px;
  height: 430px;
}

.cloud_down {
  position: absolute;
  width: 62px;
  height: 62px;
  right: 250px;
  top: 320px;
  transform: rotate(180deg);
}

.mobile_app_tecnolofies {
  margin-bottom: 50px;
}

.mobile_app_tecnolofies h5 {
  color: #ffffff;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 28px;
}

.mobile_app_item span {
  color: #21746b;
  font-weight: 700;
}

.mobile_app_tecnolofies_item {
  display: flex;
  gap: 80px;
  margin-bottom: 35px;
}

.mobile_app_tecnolofies_it {
  margin-left: 282px;
  margin-bottom: 0;
}

.mobile_app_items {
  padding: 20px;
}

.mobile_app_items p {
  font-size: 20px;
}

.mobile_app_items_title {
  display: flex;
  align-items: center;
  gap: 16px;
}

.mobile_app_items_title span {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #21746b;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.55;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 50%;
}

.mobile_app_items_title p {
  font-size: 22px;
  color: #ffffff;
  line-height: 1.55;
}


.development_process {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 170px;
}

.development_process_title {
  display: flex;
  justify-content: center;
  gap: 40px;
  width: 75%;
  margin-bottom: 120px;
}

.development_circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #21746b;
}

.development_title_content h4 {
  font-size: 45px;
  font-weight: 600;
  color: #ffffff;
  line-height: 1.2;
}

.development_title_logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}

.development_logo {
  font-size: 24px;
  line-height: 1.55;
  color: #21746b;
  margin-right: 5px;
}

.development_title_logo p {
  font-size: 22px;
  letter-spacing: 1.5px;
  color: #ffffff;
  font-weight: 700;
}

.development_process_content {
  display: flex;
  justify-content: center;
  gap: 200px;
  width: 85%;
}

.development_process_content_logo {
  position: relative;
}

.development_cloud_up {
  position: absolute;
  transform: rotate(315deg);
  width: 95px;
  height: 95px;
}

.rocket {
  transform: rotate(50deg);
}

.development_cloud_down {
  position: absolute;
  transform: rotate(132deg);
  width: 77px;
  height: 77px;
  top: 175px;
  right: -30px;
}

.development_process_content_items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  width: 65%;
}

.process_content_item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.process_content_item span {
  color: #21746b;
  font-size: 35px;
  line-height: 1.2;
  font-weight: 600;
}

.process_content_item_block {
  display: flex;
  flex-direction: column;
}

.content_item_block_img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
  width: 150px;
  height: 100px;
  border-radius: 10px;
  background-color: rgb(21, 75, 101, 0.15);
  box-shadow: 0px 30px 80px 0px rgb(219 236 245 / 20%);
}

.content_item_block_sub_title {
  margin-bottom: 14px;
}

.content_item_block_sub_title p {
  color: #ffffff;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 7px;
}

.content_item_block_sub_title span {
  display: block;
  width: 84%;
  height: 3px;
  background-color: #21746b;
}

.content_item_block_text {
  color: #dbdbdb;
  font-size: 18px;
  font-family: 'Arial', Arial, sans-serif;
  line-height: 1.7;
  font-weight: 400;
}


.clients {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 100px;
}

.clients_title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  width: 800px;
  margin-bottom: 100px;
}

.clients_title span {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #21746b;
}

.clients_title h4 {
  font-size: 45px;
  font-weight: 600;
  color: #ffffff;
  line-height: 1.2;
}

.clients_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.clients_grid_items {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 410px;
}

.client,
.client_message,
.hand,
.worker,
.notepad,
.nokia {
  width: 100%;
  height: 100%;
}

.clients_grid_items_img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
  width: 150px;
  height: 100px;
  border-radius: 10px;
  background-color: rgb(21, 75, 101, 0.15);
  box-shadow: 0px 30px 80px 0px rgb(219 236 245 / 20%);
}

.clients_grid_items_text {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.clients_grid_items_text h6 {
  color: #ffffff;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 0;
}

.clients_grid_items_text span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #21746b;
  margin: 15px 0;
}

.clients_grid_items_text p {
  font-size: 22px;
  color: #dbdbdb;
  line-height: 1.7;
  text-align: center;
}


@media screen and (min-width: 1441px) and (max-width: 1919px) {
  .services_mobile_app_icons {
    position: absolute;
    right: -80px;
  }
}


@media screen and (max-width: 1440px) {
  .services h2 {
    font-size: 60px;
  }

  .services_content {
    flex-direction: column;
    align-items: center;
  }

  .services_content h5 {
    margin-bottom: 24px;
  }

  .services_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  .services_wrapper h6 {
    font-size: 20px;
    line-height: 31px;
  }

  .services_wrapper img {
    display: none;
  }

  .site_visit,
  .corporative,
  .store {
    margin: 0;
  }

  .services_content_items {
    justify-content: center;
    width: 100%;
    height: 112px;
    padding: 16px;
    gap: 4px;
  }

  .services_content_items p {
    font-size: 14px;
    line-height: 19px;
  }

  .services_mobile_app_icons {
    position: absolute;
    right: -100px;
    top: 85px;
  }

  .services_explaining_items {
    width: 75%;
  }

  .mobile_app_tecnolofies_item {
    gap: 40px;
  }


  .development_process {
    margin-top: 120px;
  }

  .development_process_title {
    margin-bottom: 80px;
    justify-content: center;
    gap: 40px;
  }

  .development_circle {
    width: 20px;
    height: 20px;
  }

  .development_title_logo {
    margin-left: 0px;
  }

  .development_process_content {
    width: 70%;
  }

  .development_process_title h4 {
    font-size: 35px;
    line-height: 30px;
  }

  .development_process_content_logo {
    display: none;
  }

  .development_process_content_items {
    width: 100%;
  }

  .content_item_block_sub_title p {
    font-size: 18px;
    line-height: 22px;
  }

  .content_item_block_text {
    font-size: 14px;
    width: 85%;
  }

  .clients_title {
    width: 600px;
    justify-content: center;
    gap: 32px;
  }

  .clients_title h4 {
    font-size: 35px;
    line-height: 39px;
  }

  .clients_grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

}


@media screen and (max-width: 959px) {

  .services_content {
    flex-direction: column;
    align-items: center;
  }

  .services_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .services_wrapper h6 {
    font-size: 20px;
    line-height: 31px;
  }

  .services_wrapper img {
    display: none;
  }

  .site_visit,
  .corporative,
  .store {
    margin: 0;
  }

  .services_content_items {
    justify-content: center;
    width: 399px;
    height: 112px;
    padding: 16px;
    gap: 4px;
  }

  .services_content_items p {
    font-size: 12px;
    line-height: 19px;
  }

  .services_explaining_text p {
    width: 556px;
    font-size: 12px;
    line-height: 19px;
  }

  .services_explaining_textt p {
    width: 556px;
    font-size: 14px;
    line-height: 22px;
  }

  .services_explaining_items {
    width: 100%;
  }

  .services_mobile_app_icons {
    display: none;
  }

  .mobile_app_tecnolofies {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mobile_app_tecnolofies_item {

    gap: 18px;
    justify-content: center;
  }

  .mobile_app_tecnolofies_it {
    margin-left: 0;
  }

  .mobile_app_items_title span {
    width: 30px;
    height: 30px;
    font-size: 16px;
  }

  .development_process {
    margin-top: 120px;
  }

  .development_process_title {
    margin-bottom: 80px;
    width: 76%;
  }

  .development_circle {
    width: 20px;
    height: 20px;
  }

  .development_title_logo {
    margin-left: 30px;
  }

  .development_process_title h4 {
    font-size: 25px;
    line-height: 30px;
  }

  .development_process_content_logo {
    display: none;
  }

  .development_process_content_items {
    width: 100%;
  }

  .content_item_block_sub_title p {
    font-size: 18px;
    line-height: 22px;
  }

  .content_item_block_text {
    font-size: 14px;
  }

  .clients_title {
    width: 600px;
    justify-content: center;
    gap: 32px;
  }

  .clients_title h4 {
    font-size: 25px;
    line-height: 39px;
  }

  .clients_grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  .clients_grid_items {
    width: 265px;
  }

  .clients_grid_items_text h6 {
    font-size: 20px;
    line-height: 24px;
  }

  .clients_grid_items_text p {
    font-size: 14px;
  }

}

@media screen and (min-width: 375px) and (max-width: 400px) {
  .services h2 {
    font-size: 24px;
  }

  .services_content {
    margin-top: 30px;
    width: 100%;
  }

  .services_content h5 {
    font-size: 18px;
  }

  .services_content_item {
    width: 300px;
  }

  .services_content_item p {
    font-size: 12px;
  }

  .services h6 {
    font-size: 18px;
    line-height: normal;
    margin-bottom: 12px;
  }

  .services_content_items {
    width: 300px;
  }

  .services_explaining_text {
    margin-top: 30px;
  }

  .services_explaining_text p {
    width: 300px;
  }

  .services_explaining_items {
    margin-top: 50px;
    align-items: center;
  }

  .mobile_app_tecnolofies {
    margin-bottom: 40px;
  }

  .mobile_app_tecnolofies_item {
    flex-direction: column;
    justify-content: center;
  }

  .services_explaining_textt p {
    width: 300px;
    font-size: 12px;
    line-height: normal;
  }

  .development_process {
    margin-top: 50px;
  }

  .development_process_title {
    width: 60%;
    gap: 24px;
    margin-bottom: 50px;
  }

  .development_circle {
    display: none;
  }

  .development_title_logo {
    margin-left: 0;
    margin-bottom: 16px;
  }

  .development_title_content h4 {
    font-size: 20px;
    line-height: normal;
  }

  .development_process_content_items {
    display: flex;
    flex-direction: column;
  }

  .clients_title {
    gap: 20px;
    width: 100%;
  }

  .clients_title h4 {
    line-height: normal;
    font-size: 20px;
  }

  .clients_grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 401px) and (max-width: 430px) {
  .services h2 {
    font-size: 24px;
  }

  .services_content {
    margin-top: 30px;
    width: 100%;
  }

  .services_content h5 {
    font-size: 18px;
  }

  .services_content_item {
    width: 300px;
  }

  .services_content_item p {
    font-size: 12px;
  }

  .services h6 {
    font-size: 18px;
    line-height: normal;
    margin-bottom: 12px;
  }

  .services_content_items {
    width: 300px;
  }

  .services_explaining_text {
    margin-top: 30px;
  }

  .services_explaining_text p {
    width: 300px;
  }

  .services_explaining_items {
    margin-top: 50px;
    align-items: center;
  }

  .mobile_app_tecnolofies {
    margin-bottom: 40px;
  }

  .mobile_app_tecnolofies_item {
    flex-direction: column;
    justify-content: center;
  }

  .services_explaining_textt p {
    width: 300px;
    font-size: 12px;
    line-height: normal;
  }

  .development_process {
    margin-top: 50px;
  }

  .development_process_title {
    width: 60%;
    gap: 24px;
    margin-bottom: 50px;
  }

  .development_circle {
    display: none;
  }

  .development_title_logo {
    margin-left: 0;
    margin-bottom: 16px;
  }

  .development_title_content h4 {
    font-size: 20px;
    line-height: normal;
  }

  .development_process_content_items {
    display: flex;
    flex-direction: column;
  }

  .clients_title {
    gap: 20px;
    width: 100%;
  }

  .clients_title h4 {
    line-height: normal;
    font-size: 20px;
  }

  .clients_grid {
    grid-template-columns: repeat(1, 1fr);
  }
}