.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 100px 0 50px 0;
  position: relative;
}

.projects h4 {
  color: #000000;
  font-size: 40px;
  line-height: 1.55;
  font-weight: 600;
}

.projects_technologies {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-top: 160px;
}

.projects_technologies_medtech h6 {
  color: #111213;
  font-size: 24px;
  font-family: 'Roboto',Arial,sans-serif;
  line-height: 1.55;
  font-weight: 500;
  margin-bottom: 14px;
}

.projects_technologies_medtech_content {
  width: 432px;
  border-radius: 10px;
  padding: 16px 16px 16px 24px;
  background-color: #eff2f5;
  box-shadow: 0px 30px 80px 0px rgb(219 236 245 / 20%);
}

.medtech_content_item {
  color: #111213;
  font-size: 16px;
  font-family: 'Roboto',Arial,sans-serif;
  line-height: 1.55;
}

.projects_technologies_medtech ul {
  padding-left: 19px;
  margin-top: 10px;
  color: #111213;
  font-family: 'Roboto',Arial,sans-serif;
  line-height: 1.55;
}

.projects_technologies_medtech_dot {
  list-style: initial;
}

.projects_technologies_logos {
  display: grid;
  gap: 24px 0;
  width: 200px;
  grid-template-columns: repeat(4, 1fr);
}

.technology_block {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  width: 100px;
}

.technology_block p {
  color: #000000;
  font-size: 14px;
  font-family: 'Roboto',Arial,sans-serif;
  line-height: 1.55;
  margin-top: 6px;
}

.java {
  width: 36px;
  height: 45px;
}

.spring {
  width: 33px;
  height: 33px;
}

.nodejs {
  width: 55px;
  height: 36px;
}

.redux,
.js,
.sql,
.swift,
.kotlin,
.python,
.digital_ocean,
.android_studio,
.Firebase,
.react {
  width: 36px;
  height: 36px;
}

.postman {
  width: 44px;
  height: 39px;
}

.projects_technologies_images {
  display: flex;
  gap: 32px;
  height: 465px;
}

.projects_medtech_images_imac {
  position: relative;
}

.projects_medtech_images_imac::before {
  content: '';
  position: absolute;
  background-image: url('../../assets/screen_shot.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 538px;
  height: 303px;
  top: 21px;
  left: 21px;
}

.projects_technologies_images_ipad {
  display: flex;
  flex-direction: column;
  position: relative;
}

.projects_technologies_images_imac {
  position: relative;
}

.projects_technologies_images_iphone {
  display: flex;
  align-items: flex-end;
  position: relative;
}

.projects_technologies_images_phones {
  display: flex;
  gap: 16px;
  height: 400px;
}

.projects_technologies_images_s1 {
  display: flex;
  align-items: flex-start;
}

.projects_technologies_images_s2 {
  display: flex;
  align-items: flex-end;
}

.iphone {
  width: 161px;
  height: 322px;
  z-index: 2;
}

.projects_technologies_images_iphone:before {
  content: '';
  position: absolute;
  background-image: url("../../assets/screen.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 142px;
  height: 307px;
  left: 10px;
  bottom: 7px;
  z-index: 1;
}

.imac {
  width: 581px;
  height: 460px;
}

.projects_technologies_images_imac::before {
  content: '';
  position: absolute;
  background-image: url('../../assets/base.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 536px;
  height: 302px;
  top: 22px;
  left: 23px;
}

.iphone_8 {
  position: absolute;
  bottom: -15px;
}


.divider_left {
  position: absolute;
  width: 1000px;
  height: 3px;
  left: 0;
  top: 900px;
  background-color: #000000;
}

.divider_right {
  position: absolute;
  width: 1000px;
  height: 3px;
  right: 0;
  bottom: 698px;
  background-color: #000000;
}


@media screen and (max-width: 1440px) {
  .projects_technologies_images_iphone {
    height: 322px;
  }

  .imac {
    height: 400px;
    width: 470px;
  }

  .projects_technologies_images {
    gap: 24px;
  }

  .divider_right {
    bottom: 650px;
  }

  .projects_technologies_images_imac::before {
    width: 434px;
    height: 260px;
    top: 20px;
    left: 18px;
    background-size: contain;
  }

  .projects_medtech_images_imac::before {
    width: 434px;
    height: 260px;
    top: 19px;
    left: 18px;
    background-size: contain;
  }
}


@media screen and (min-width: 768px) and (max-width: 959px) {
  .projects_technologies {
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .projects_technologies_content {
    display: flex;
    justify-content: space-between;
    width: 610px;
  }

  .projects_technologies_medtech h6 {
    margin-bottom: 0;
  }

  .projects_technologies_medtech_content {
    width: 298px;
  }

  .medtech_content_item {
    font-size: 14px;
  }

  .projects_technologies_medtech_dot {
    font-size: 14px;
  }

  .projects_technologies_logos {
    height: 155px;
    width: 280px;
    gap: 0px;
    margin-top: 100px;
  }

  .technology_block {
    width: 80px;
    height: 70px;
  }

  .technology_block p {
    font-size: 11px;
  }

  .projects_technologies_images_iphone,
  .projects_technologies_images_phones {
    height: 325px;
  }

  .projects_technologies_images_imac,
  .projects_medtech_images_imac,
  .project_technologies_images_imac {
    height: 325px;
  }

  .projects_technologies_images_imac:before {
    width: 379px;
    height: 213px;
    top: 15px;
    left: 16px;
  }

  .projects_medtech_images_imac:before {
    width: 365px;
    height: 214px;
    top: 15px;
    left: 15px;
    background-size: contain;
  }

  .projects_technologies_images {
    height: 400px;
  }

  .imac_res {
    width: 100%;
    height: 100%;
  }

  .ipad {
    width: 320px;
  }

  .iphone_8 {
    bottom: 60px;
  }

  .iphone_8 img {
    height: 200px;
  }

  .divider_left {
    width: 500px;
    top: 1070px;
  }

  .divider_right {
    width: 500px;
    bottom: 935px;
  }
}

@media screen and (min-width: 375px) and (max-width: 400px) {
  .projects h4 {
    font-size: 24px;
  }

  .projects_technologies {
    margin-top: 50px;
  }

  .projects_technologies_images {
    display: none;
  }

  .projects h6 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .projects_technologies_medtech_content {
    width: 300px;
  }
  .medtech_content_item {
    font-size: 12px;
  }

  .projects_technologies_medtech_content ul li {
    font-size: 12px;
  }

  .projects_technologies_logos {
    width: 300px;
  }

  .technology_block {
    width: 100%;
  }

  .technology_block p {
    font-size: 10px;
  }

  .divider_right,
  .divider_left {
    display: none;
  }
}

@media screen and (min-width: 401px) and (max-width: 430px) {
  .projects h4 {
    font-size: 24px;
  }

  .projects_technologies {
    margin-top: 50px;
  }

  .projects_technologies_images {
    display: none;
  }

  .projects h6 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .projects_technologies_medtech_content {
    width: 300px;
  }
  .medtech_content_item {
    font-size: 12px;
  }

  .projects_technologies_medtech_content ul li {
    font-size: 12px;
  }

  .projects_technologies_logos {
    width: 300px;
  }

  .technology_block {
    width: 100%;
  }

  .technology_block p {
    font-size: 10px;
  }

  .divider_right,
  .divider_left {
    display: none;
  }
}